eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8085/eureka/

server:
  port: 8086

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - path=/user/**
          filters:
            - CustomRouteFilter

app:
  jwt:
    secret: hIltiHm2ugcSpIKmNS+pjV8bQotTpVEWMqEtJp3Y5ZI=hIltiHm2ugcSpIKmNS+pjV8bQotTpVEWMqEtJp3Y5ZI
    expiration-ms: 86400000